---
interface Props {
	image: string
	title: string
	description: string
}

const { image, title, description } = Astro.props
---

<div
	class="bg-[#23262d] p-4 rounded-md transition-[background] ease-in-out shadow shadow-[rgba(255, 255, 255, 0.1)] flex flex-col items-center"
>
	<img src={image} alt={`${title} - ${description}`} class="w-60 mb-2 lg:w-80" />

	<div>
		<h2 class="m-0 font-bold tracking-wider text-xl lg:text-3xl">
			{title}
		</h2>
		<p class="mb-0 mt-2 lg:text-lg">
			{description}
		</p>
	</div>
</div>
